body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column-prof {
    float: left;
    width: 15%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.column-stud {
    float: left;
    width: 15%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.row {
    display: flex;
    justify-content: center;
}

.about-section {
    padding-top: 20px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-card {
    border-radius: 10px 10px 0 0;
}

.container {
    padding: 20px;
}

.title {
    font-weight: bold;
    color: #333;
}

.about-heading {
    color: #007bff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}