html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.profile-heading {
    color: #007bff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.user-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.img-container {
    /* Increase the maximum width of the profile image */
    margin: 20px;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
}
.name-container,.mail-container{
    text-align: center;
    margin-bottom: 1rem;
}
#profileImage{
    height: 10rem;
    border-radius: 50%;
}
.heading {
    color: #007bff; 
    font-size: 30px; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-bottom: 8px; /* Adjust margin as needed */
}

.logout-container{
    text-align: center;
    margin-top: 20px;
}
.logout-btn{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.logout-btn:hover {
    background-color: #c82333;
}