body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
/* Make the image preview container responsive */
#image-preview {
    max-width: 100%;
    height: auto;
}
.img-heading{
    color: #007bff; 
    font-size: 40px; 
    font-weight: bold; 
    text-transform: uppercase;
}
.latex-heading{
    color: #007bff; 
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase;
}
/* Adjust padding on smaller screens */
@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* styles.css */
/* Custom Styles */


.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 30px;
}


.upload-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.img-preview-container {
    max-width: 400px; /* Set your desired maximum width */
    margin: 0 auto;   /* Center the container horizontally */
    text-align: center; /* Center the content (the image or "No image selected" message) */
}

#image-preview img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
}

#image-preview {
    padding: 10px; /* Add some padding for better presentation */
    font-size: 20px;
}
.main-container {
    min-height: calc(100vh - 40vh); /* Adjust as needed */
    display: flex;
    flex-direction: column;
}
.generate-button-container {
    margin-bottom: 20px;
}
.latex-container {
    background-color: #f0f0f0; /* Light gray background color */
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
}

.step {
    font-size: 18px;
    margin: 10px 0;
}
.custom-file {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-file input[type="file"] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-label::after {
    content: "Browse";
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .img-preview-container {
        max-width: 90%;
    }
}

